.about-content{
    margin-top: 0px !important;
}
.back-img{
    max-width: 80% !important;
    margin-bottom: 10px !important;
    background-size: cover !important;
    border-radius: 50px !important;
    border: 4px solid #808080 !important;
}

.content-img{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.resume{
    display: flex !important;
}

.line{
    border: 1.5px !important;
}
.info{
    color: #989898 !important;
    font-size: 20px !important;
}
.linehr{
    border-color: #808080 !important;
}

@media (max-width:650px) {
    .info{
        color: #989898 !important;
        font-size: 12px !important;
    }
    .back-img{
        max-width: 50% !important;
    }
    .main-resume{
        font-size: 10px !important;
    }
}
