.projectImg{
    display: flex !important;
    justify-content: center !important;
    align-items: baseline !important;
}
.projectSS{
    max-width: 100% !important;
}

@media (max-width:650px) {
    .main-btn{
        margin-top: 0px !important;
        font-size: 12px !important;
    }
}