.skill{
    margin-top: 40px !important ;
}
.techskill{
   margin-bottom: 90px !important;
   display: inline !important;
   justify-content: center !important;
   align-items: center !important;
}
.skillimg{
        text-align: center !important;
}